* {
    box-sizing: border-box;
}

#rna-contact-form {
    color: #343434;
    font-family: Nissan,Verdana,Arial,sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: .875em;
    line-height: 1.375;
}

#rna-contact-form p {
    line-height: 1.5;
    margin: 1em 0;
}

#rna-contact-form .c_056 .customer-details-content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

#rna-contact-form .c_056 .customer-details-content .form-group {
    margin-left: auto;
    margin-right: auto;
}

#rna-contact-form .form-group label {
    display: block;
    font-family: "Nissan", Verdana,Arial,sans-serif;
    font-size: .8571428571em;
    margin-bottom: .6666666667em;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2.8571428571em;
}

#rna-contact-form .form-group.required label:after {
    content: "*";
    color: #c3002f;
}

#rna-contact-form button,
#rna-contact-form input,
#rna-contact-form optgroup,
#rna-contact-form select,
#rna-contact-form textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

#rna-contact-form input {
    line-height: normal;
}

#rna-contact-form button,
#rna-contact-form input,
#rna-contact-form select,
#rna-contact-form textarea {
    color: #343434;
    font-family: Verdana,Arial,sans-serif;
}

#rna-contact-form .form-group .custom-selectbox .selectedValue,
#rna-contact-form .form-group input[type=color],
#rna-contact-form .form-group input[type=date],
#rna-contact-form .form-group input[type=datetime-local],
#rna-contact-form .form-group input[type=datetime],
#rna-contact-form .form-group input[type=email],
#rna-contact-form .form-group input[type=month],
#rna-contact-form .form-group input[type=number],
#rna-contact-form .form-group input[type=password],
#rna-contact-form .form-group input[type=search],
#rna-contact-form .form-group input[type=tel],
#rna-contact-form .form-group input[type=text],
#rna-contact-form .form-group input[type=time],
#rna-contact-form .form-group input[type=url],
#rna-contact-form .form-group input[type=week],
#rna-contact-form .form-group textarea {
    color: #000;
    font-family: "Nissan",Verdana,Arial,sans-serif;
    font-size: 1.2857142857em;
    font-weight: 600;
    display: block;
    width: 100%;
    border: 1px solid #d2d2d2;
    border-radius: .1666666667em;
    box-shadow: 0 0 0 0.1428571429em #eee, inset 0 0.1111111111em 0.2222222222em -0.0555555556em rgb(0 0 0 / 15%);
    line-height: normal;
    margin-bottom: -.0555555556em;
    padding: .6111111111em 9px .5555555556em;
    background-color: #FFF;
}

#rna-contact-form .isInvalid {
    border: 2px solid red!important;
}

#rna-contact-form .error-message {
    display: block;
    color: red;
    width: 100%;
}

#rna-contact-form .form-group .help-block {
    color: #4c4c4c;
    display: block;
    font-size: .8571428571em;
    letter-spacing: -.0166666667em;
    margin-top: .6666666667em;
    position: relative;
}

#rna-contact-form .custom-selectbox {
    color: #000;
    margin: 0;
    text-align: left;
    text-transform: none;
    width: 100%;
    display: inline-table;
    table-layout: fixed;
    outline: 0;
    position: relative;
    z-index: 1;
}

#rna-contact-form .form-group .custom-selectbox {
    max-width: 170px;
}

#rna-contact-form .custom-selectbox select {
    top: 0;
    height: 100%;
    display: block;
    left: 0;
    font-size: 18px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: left;
    width: 100%;
    z-index: 1;
    -webkit-appearance: none;
    -ms-filter: "alpha(Opacity=0)";
    cursor: pointer;
}

#rna-contact-form .custom-selectbox .selectedValue {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 65px;
    position: relative;
}

#rna-contact-form .custom-selectbox .selectedValue:after {
    content: "\E618";
    position: absolute;
    font-family: "icon-Nissan-Global";
    font-size: 1.1428571429rem;
    border-left: 1px solid #606164;
    padding-left: .7142857143em;
    padding-right: .7142857143em;
    color: #606164;
    line-height: 1.875!important;
    right: 0;
    top: 2px!important;
    -webkit-transform: none!important;
    transform: none!important;
    content: "";
    position: absolute;
    border-left: 2px solid #eee;
    padding-left: .7142857143em;
    padding-right: .7142857143em;
    color: #c3002f;
    font-size: 1.1428571429em;
    right: 0;
    margin-top: .125em;
}

#rna-contact-form .gdpr.section {
    border-top: 1px dashed #c1c1c1;
    font-size: 13px;
}

#rna-contact-form .form-check-label {
    width: 74%;
}

#rna-contact-form .form-check-label p {
    margin-top: 7px;
    line-height: 15px;
    position: relative;
    font-size: 15px;
}

#rna-contact-form .checkbox.section.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#rna-contact-form .checkbox .form-check {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 12%;
    height: auto;
    max-width: 100%;
    margin-top: 10px;
    position: relative;
}

#rna-contact-form .checkbox .form-check-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 17px;
    text-transform: uppercase;
}

#rna-contact-form .checkbox label:before {
    font-family: icon-Nissan-Global;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 1px solid #c1c1c1;
    border-radius: .25em;
    box-shadow: 0 0 0 0.1428571429em #eee, inset 0 0.1666666667em 0.3333333333em -0.0833333333em rgb(0 0 0 / 15%);
    background-color: #eee;
    color: transparent;
    content: "";
    font-size: 12;
    left: 0;
    padding: .1666666667em;
    position: absolute;
    top: 0;
    font-size: 17px;
}

#rna-contact-form .checkbox .form-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

#rna-contact-form .checkbox .gdpr-radio-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
}

#rna-contact-form .checkbox .gdpr-radio-button:after {
    content: "X";
    position: absolute;
    display: none;
}

#rna-contact-form .checkbox .form-check input:checked ~ .gdpr-radio-button:after {
    display: block;
    left: 7px;
    top: 0px;
}

#rna-contact-form .range-tab {
    list-style: outside none none;
    padding: 0;
    margin: 0;
    border: 1px solid #ececec;
    border-bottom: 0 solid #ccc;
}

#rna-contact-form .range-tab > li {
    display: inline-block;
    width: 50%;
    background-color: #ececec;
    border-right: 1px solid #ccc;
    border-bottom: 0 solid #ccc;
    font-weight: 600;
    font-size: 1.083rem;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    position: relative;
    min-height: 1px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    box-sizing: border-box;
}

#rna-contact-form .range-tab > li.active {
    background-color: #fff;
    border-bottom: 0 none;
}

#rna-contact-form .range-tab > li.active::after {
    content: "";
    width: 92%;
    margin: 0 4%;
    background-color: #c3002f;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#rna-contact-form .range-tab > li:last-child {
    border-right: 0 none;
}

#rna-contact-form .legal-info-component {
    border: 1px solid #ececec;
    position: relative;
    font-size: 1.1428571429rem;
    padding: .7142857143em;
    margin-top: 20px;
    margin-bottom: 10px;
}

#rna-contact-form .legal-info-component .legal-info-label {
    cursor: pointer;
    padding-right: 1.1em;
    font-size: 16px;
}

#rna-contact-form .legal-info-component .legal-info-label:after {
    content: "\E618";
    position: absolute;
    font-family: "icon-Nissan-Global";
    padding: .7142857143em;
    color: #606164;
    right: 0;
    top: 0!important;
    -webkit-transition: all .5s;
    transition: all .5s;
}

#rna-contact-form .legal-info-component .legal-info-label:after {
    font-family: "icon-Nissan-Global";
    content: "\E610";
    color: #c3002f;
}

#rna-contact-form .legal-info-component .legal-info-text-content {
    font-size: 13px!important;
}

#rna-contact-form .legal-info-component .legal-info-text-content > div {
    margin: 1em 0 0;
}

#rna-contact-form .legal-info-disclamer {
    font-size: 13px!important;
}

#rna-contact-form .submit-form {
    clear: both;
    position: relative;
}

#rna-contact-form .submit-form-button {
    display: block;
    margin-top: 50px;
    padding: .8571428571em 45px .8571428571em 20px;
    width: auto;
    font-size: 1em;
    background: #c3002f;
    color: #fff;
    border: 0;
    text-decoration: none;
    text-align: left;
    letter-spacing: .0357142857em;
    text-transform: uppercase;
    line-height: 1.3;
    position: relative;
    -webkit-appearance: button;
    cursor: pointer;
    font-family: inherit;
}

#rna-contact-form .submit-form-button:hover,
#rna-contact-form .submit-form-button:focus {
    background: #920023;
    border-color: #920023;
}

#rna-contact-form .submit-form-button:after {
    content: "";
    color: #FFF;
    font-size: .7857142857rem;
    right: 20px;
    top: 50%;
    margin-top: -.5em;
    position: absolute;
    font-family: "icon-Nissan-Global";
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 990px) {
    #rna-contact-form .range-tab > li {
        width: 100%;
        border-right: 0 none;
    }
}

@media screen and (max-width: 600px) {
    #rna-contact-form .checkbox.section.form-group {
        flex-wrap: wrap;
        width: 100%;
    }

    #rna-contact-form .checkbox .form-check {
        width: 50%;
    }
}